---
// Component Imports
import Puzzle from "../components/Puzzle.astro";
import Page from "../layouts/team.astro";

const content = {
    title: "Présentation de membres"
}

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Page content={content}>

    <style>
        .masked-image {
            mask-image: url('/PEA--autisme-et-loisirs/images/puzzle/1.svg');
            -webkit-mask-image: url('/PEA--autisme-et-loisirs/images/puzzle/1.svg');
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
            margin: 0 auto;
            height: auto;
            width: 256px;
        }
    </style>

    <div class="flex min-h-fit">
        <!--div class="basis-3/4 rounded-xl m-10 p-5 bg-gradient-to-r from-blue-500 to-teal-300"-->
        <div class="basis-3/4 rounded-xl m-10 p-5 from-blue-500 to-teal-300">
            <p>Marine, étudiante en troisième année de psychomotricité à l’ISRP.<br>À l’initiative de ce site et à engager
                des gens assez fou pour me suivre mes idées un peu dingue</p>
        </div>
        <div class="basis-1/4">
            <img class="masked-image" src="/PEA--autisme-et-loisirs/images/photo-marine.png">
        </div>
    </div>

    <div class="flex">
        <div class="basis-1/4">
            <img class="masked-image" src="/PEA--autisme-et-loisirs/images/photo-aurélie.png">
        </div>
        <div class="basis-3/4 rounded-xl m-10 p-5 min-h-fit from-blue-500 to-teal-300">
            <p>Aurélie, étudiante en 1ère année de Psychomotricité à l’ISRP Paris, je viens tout juste de rejoindre l’équipe&nbsp;! Ce
                qui me passionne dans la vie, ce sont les projets passionnants et engagés, le sentiment d’être utile en apportant
                mon soutien et la pratique régulière du yoga.</p>
        </div>
    </div>

    <div class="flex">
        <div class="basis-3/4 rounded-xl m-10 p-5 min-h-fit from-blue-500 to-teal-300">
            <p>Maylis, étudiante en troisième année de psychomotricité à l’ISRP. Je me suis faite embarquée dans cette aventure par
                Marine. Comme elle le dit je suis assez folle pour réaliser ce site avec toute l’équipe et je me suis investie pour
                en faire quelque chose de beau. Il est important de lier le quantitatif au qualitatif&nbsp;!</p>
        </div>
        <div class="basis-1/4">
            <img class="masked-image" src="/PEA--autisme-et-loisirs/images/photo-maylis.png">
        </div>
    </div>

    <div class="flex">
        <div class="basis-1/4">
            <img class="masked-image" src="/PEA--autisme-et-loisirs/images/photo-nolwen.png">
        </div>
        <div class="basis-3/4 rounded-xl m-10 p-5 min-h-fit from-blue-500 to-teal-300">
            <p>Nolwen, étudiante en troisième année de psychomotricité à l’ISRP. Chaque année un nouveau PEA et pour ma dernière
                année je suis arrivée ici&nbsp;!
                J’ai donc décidé de rejoindre ce projet et j’espère pouvoir être à la hauteur pour le concrétiser.</p>
        </div>
    </div>

    <div class="flex">
        <div class="basis-3/4 rounded-xl m-10 p-5 min-h-fit from-blue-500 to-teal-300">
            <p>Laurine, actuellement en deuxième année de psychomotricité à l’ISRP Paris. J’ai rejoint cette aventure un peu folle
                avec beaucoup d’enthousiasme ! C’est une belle opportunité d’apprendre tout en participant à un projet qui a du
                sens.</p>
        </div>
        <div class="basis-1/4">
            <img class="masked-image" src="/PEA--autisme-et-loisirs/images/photo-laurine.png">
        </div>
    </div>

    <div class="flex">
        <div class="basis-1/4">
            <img class="masked-image" src="/PEA--autisme-et-loisirs/images/photo-guilien.png">
        </div>
        <div class="basis-3/4 rounded-xl m-10 p-5 min-h-fit from-blue-500 to-teal-300">
            <p>Guilien, étudiant en troisième année à l’ISRP. Ça fait 3 ans que je suis dans ce PEA. Curieux d’apprendre, je
                souhaite m’impliquer dans ce projet qui a du sens. Chaque nouvelle expérience est pour moi une occasion de
                progresser et d’apporter ma contribution.</p>
        </div>
    </div>

</Page>
