---
import { Image } from 'astro:assets';
import logoImage from "../assets/logo.png";
---

<header>
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="/PEA--autisme-et-loisirs/" class="flex items-center">
                <!-- https://via.placeholder.com/250x250.webp?text=Logo -->
                <Image src={logoImage} alt="Logo" />
                <h1 class="self-center text-4xl font-semibold whitespace-nowrap dark:text-white">Autisme et loisirs</h1>
            </a>
        </div>
        <a href="/PEA--autisme-et-loisirs/">⬅</a>
    </nav>
</header>